{% extends "layout.html" %}

  {% block body %}

      <form action="/search" method="POST">
         <div class="form-row">
            <div class="col-sm-9 col-md-4">
              <input type="search" class="form-control" name="search" placeholder="Insert Name">
            </div>
        </div>
        <button class="btn btn-primary"> Search </button>

  <h1>Busqueda</h1>
{% if recipes is defined and recipes|length > 0 %}

		<table class="table">
			<tr class="header">
				<td class="grow-20">ID</td>
				<td class="grow-35">Name</td>
				<td>Action</td>
			</tr>
			{% for recipe in recipes %}
				<tr class="book">
					<td class="grow-20">{{ recipe.id }}</td>
					<td class="grow-35">{{ recipe.name }}</td>
					<td><a href="{{url_for('details',id=recipe.id)}}">Details</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No matches found</p>
{% endif %}

{% endblock %}
